In [ ]:
#importing module

import pandas as pd
import numpy as np
import re #Regex
import string

In [ ]:
#upload data and read it
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
DATASET = pd.read_csv ('/content/drive/My Drive/BINAR/data.csv', encoding='latin-1')

In [ ]:
Dict1 = pd.read_csv ('/content/drive/My Drive/BINAR/abusive.csv', encoding='latin-1')

In [ ]:
Dict2 = pd.read_csv ('/content/drive/My Drive/BINAR/new_kamusalay.csv', encoding='latin-1')

In [ ]:
DATASET

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
0,- disaat semua cowok berusaha melacak perhatia...,1,1,1,0,0,0,0,0,1,1,0,0
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,1,0,0,0,0,0,0,0,0,0,0
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,0,0,0,0,0,0,0,0,0,0,0
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,0,0,0,0,0,0,0,0,0,0,0
4,USER USER Kaum cebong kapir udah keliatan dong...,1,1,0,1,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13164,USER jangan asal ngomong ndasmu. congor lu yg ...,1,1,1,0,0,0,1,0,0,1,0,0
13165,USER Kasur mana enak kunyuk',0,1,0,0,0,0,0,0,0,0,0,0
13166,USER Hati hati bisu :( .g\n\nlagi bosan huft \...,0,0,0,0,0,0,0,0,0,0,0,0
13167,USER USER USER USER Bom yang real mudah terdet...,0,0,0,0,0,0,0,0,0,0,0,0
13168,"USER Mana situ ngasih("": itu cuma foto ya kuti...",1,1,1,0,0,0,0,0,1,1,0,0

In [ ]:
#displayinf last five rows of dataset
DATASET.tail()

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
13164,USER jangan asal ngomong ndasmu. congor lu yg ...,1,1,1,0,0,0,1,0,0,1,0,0
13165,USER Kasur mana enak kunyuk',0,1,0,0,0,0,0,0,0,0,0,0
13166,USER Hati hati bisu :( .g\n\nlagi bosan huft \...,0,0,0,0,0,0,0,0,0,0,0,0
13167,USER USER USER USER Bom yang real mudah terdet...,0,0,0,0,0,0,0,0,0,0,0,0
13168,"USER Mana situ ngasih("": itu cuma foto ya kuti...",1,1,1,0,0,0,0,0,1,1,0,0

In [ ]:
#displayinf first five rows of dataset
DATASET.head()

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
0,- disaat semua cowok berusaha melacak perhatia...,1,1,1,0,0,0,0,0,1,1,0,0
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,1,0,0,0,0,0,0,0,0,0,0
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,0,0,0,0,0,0,0,0,0,0,0
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,0,0,0,0,0,0,0,0,0,0,0
4,USER USER Kaum cebong kapir udah keliatan dong...,1,1,0,1,1,0,0,0,0,0,1,0

In [ ]:
#Rebuild Missing Data
DATASET.isna().any().sum()

0

In [ ]:
#De-Duplicate Data
DATASET.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
13164    False
13165    False
13166    False
13167    False
13168    False
Length: 13169, dtype: bool

In [ ]:
DATASET.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13169 entries, 0 to 13168
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tweet          13169 non-null  object
 1   HS             13169 non-null  int64
 2   Abusive        13169 non-null  int64
 3   HS_Individual  13169 non-null  int64
 4   HS_Group       13169 non-null  int64
 5   HS_Religion    13169 non-null  int64
 6   HS_Race        13169 non-null  int64
 7   HS_Physical    13169 non-null  int64
 8   HS_Gender      13169 non-null  int64
 9   HS_Other       13169 non-null  int64
 10  HS_Weak        13169 non-null  int64
 11  HS_Moderate    13169 non-null  int64
 12  HS_Strong      13169 non-null  int64
dtypes: int64(12), object(1)
memory usage: 1.3+ MB

In [ ]:
DATASET.shape

(13169, 13)

In [ ]:
DATASET.dtypes

Tweet            object
HS                int64
Abusive           int64
HS_Individual     int64
HS_Group          int64
HS_Religion       int64
HS_Race           int64
HS_Physical       int64
HS_Gender         int64
HS_Other          int64
HS_Weak           int64
HS_Moderate       int64
HS_Strong         int64
dtype: object

In [ ]:
DATASET.describe()

,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
count,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000,13169.000000
mean,0.422280,0.382945,0.271471,0.150809,0.060217,0.042980,0.024527,0.023236,0.284000,0.256891,0.129471,0.035918
std,0.493941,0.486123,0.444735,0.357876,0.237898,0.202819,0.154685,0.150659,0.450954,0.436935,0.335733,0.186092
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
DATASET.columns

Index(['Tweet', 'HS', 'Abusive', 'HS_Individual', 'HS_Group', 'HS_Religion',
       'HS_Race', 'HS_Physical', 'HS_Gender', 'HS_Other', 'HS_Weak',
       'HS_Moderate', 'HS_Strong'],
      dtype='object')

In [ ]:
Dataset = DATASET[['Tweet']]
Dataset

                                                   Tweet
0      - disaat semua cowok berusaha melacak perhatia...
1      RT USER: USER siapa yang telat ngasih tau elu?...
2      41. Kadang aku berfikir, kenapa aku tetap perc...
3      USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...
4      USER USER Kaum cebong kapir udah keliatan dong...
...                                                  ...
13164  USER jangan asal ngomong ndasmu. congor lu yg ...
13165                       USER Kasur mana enak kunyuk'
13166  USER Hati hati bisu :( .g\n\nlagi bosan huft \...
13167  USER USER USER USER Bom yang real mudah terdet...
13168  USER Mana situ ngasih(": itu cuma foto ya kuti...

[13169 rows x 1 columns]

In [ ]:
def clean_text(Dataset):
    # mengubah huruf menjadi lowercase
    Dataset = Dataset.lower()

    # Remove URLs, RT, and mentions
    Dataset = re.sub(r"http\S+|rt|user|@\S+", "", Dataset)

    # Remove punctuations and digits
    Dataset = Dataset.translate(str.maketrans("", "", string.punctuation))
    Dataset = re.sub('\d+', '', Dataset)

    # menghapus karakter selain huruf, angka, dan spasi
    Dataset = re.sub(r'[^\w\s]', '', Dataset)
    
    # menghapus angka
    Dataset = re.sub(r'\d+', '', Dataset)

    # mengganti kata-kata yang ada di kamus pertama
    Dataset = ' '.join([dict1.get(word, word) for word in text.split()])
    
    # mengganti kata-kata yang ada di kamus kedua
    Dataset = ' '.join([dict2.get(word, word) for word in text.split()])

    # menghapus spasi berlebih
    Dataset = re.sub('\s+', ' ', Dataset)
    
    return Dataset

In [ ]:
# membersihkan kolom yang berisi teks pada dataframe

In [ ]:
# menyimpan dataframe yang sudah dibersihkan ke file CSV baru